<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Greenaware</title>
		<link
		rel="stylesheet" href="/css/styles.css">
	<!-- Include your CSS file -->
	</head>
	<body style="background-image: url('/images/wind turbine.jpeg'); background-size: cover;">
		<div class="container">
			<header>
				<h1>Welcome to Greenaware</h1>
				<p>Helping you contribute to a greener future!</p>
				<img src="/images/greenaware.png" alt="Greenaware image">
			</header>
			<section class="description">
				<h2>Our Mission</h2>
				<p>Global warming is characterised as long-term changes to 
                    planetary average weather patterns (National Geographic, n.d.) 
                    which have significant effects on local, regional and global climates 
                    (Nasa.gov, n.d.). Global warming is driven by human activity - specifically, 
                    fossil fuel use resulting in increased greenhouse gas levels raising Earth’s average surface temperature 
                    (Nasa.gov, n.d.). Climate change caused by Global warming results in sea level changes linked to melting of 
                    polar ice sheets and glaciers causing widespread flooding and other forms of extreme weather such as intense droughts (National Geographic, n.d.).</p>
			</section>
			<section class="features">
				<h2>Key Features</h2>
				<ul>
					<li>Register an account to join our community</li>
					<li>Access valuable resources and information</li>
					<li>Connect with like-minded individuals</li>
				</ul>
			</section>
			<section class="actions">
				<a href="/register" class="button">Register</a>
				<a href="/login" class="button">Login</a>
			</section>
			<footer>
				<p>&copy; 2024 Greenaware. All rights reserved.</p>
			</footer>
		</div>
	</body>
</html>
